In [106]:
import pandas as pd
import numpy as np

In [107]:
data = pd.read_csv("SimpleFeatures.csv")

In [109]:
data.head()

,artist_familiarity,artist_hotttnesss,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,end_of_fade_in,key,...,mode,mode_confidence,release,song_hotttnesss,start_of_fade_out,tempo,time_signature,time_signature_confidence,title,year
0,0.780462,0.574275,ARMQHX71187B9890D3,NaN,"Atlanta, GA",NaN,Mastodon,280.21506,0.238,5,...,1,0.500,Call of the Mastodon,0.597641,275.528,173.205,5,0.120,Deep Sea Creature,2001
1,0.581794,0.401998,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,0.247,1,...,0,0.636,Fear Itself,0.602120,218.932,92.198,4,0.778,I Didn't Mean To,0
2,0.630630,0.417500,ARMJAGH1187FB546F3,35.14968,"Memphis, TN",-90.04892,The Box Tops,148.03546,0.148,6,...,0,0.430,Dimensions,NaN,137.915,121.274,4,0.384,Soul Deep,1969
3,0.487357,0.343428,ARKRRTF1187B9984DA,NaN,NaN,NaN,Sonora Santanera,177.47546,0.282,8,...,1,0.565,Las Numero 1 De La Sonora Santanera,NaN,172.304,100.070,1,0.000,Amor De Cabaret,0
4,0.630382,0.454231,AR7G5I41187FB4CE6C,NaN,"London, England",NaN,Adam Ant,233.40363,0.000,0,...,1,0.749,Friend Or Foe,NaN,217.124,119.293,4,0.000,Something Girls,1982

In [110]:
billboard = pd.read_csv("HotSongsBillBoard.csv")

In [111]:
billboard.head()

                          artist publish_date                            track
0                   Ricky Nelson   1958-08-09                 Poor Little Fool
1               Domenico Modugno   1958-08-09  Nel Blu Dipinto Di Blu (Volaré)
2  Perez Prado And His Orchestra   1958-08-09                         Patricia
3                    Bobby Darin   1958-08-09                    Splish Splash
4                    Kalin Twins   1958-08-09                             When

In [112]:
bb_tracks = list(billboard.track)

def find_target(row):
    lst = bb_tracks
    if row['title'] in lst:
        return 1
    else:
        return 0

In [113]:
data['bbhot'] = data.apply(find_target, axis=1)

In [114]:
data['bbhot'].value_counts()

0    8809
1    1192
Name: bbhot, dtype: int64

In [115]:
def text_clean(x):
    try:
        x = x.decode('utf-8')
    except:
        None
    return x

data = data.applymap(text_clean)

In [116]:
data.to_csv("SimpleDataSetWithNewTarget.csv",encoding="utf-8", index = False)